/* General styles for the form */
#registration-form {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    background-color: #E8F0FE;
    display: block;
    width: 50%;
    margin: 0 auto; /* Center the form on the page */
}

/* Style for input fields */
#registration-form input[type="text"], #registration-form input[type="password"] {
    width: 100%;
    height: 40px; /* Larger height for input fields */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Style for the button container */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Add some space above the buttons */
}

/* Style for buttons */
.button-container input[type="submit"], 
.button-container input[type="reset"] {
    width: 48%; /* Smaller width than input fields */
    height: 30px; /* Smaller height than input fields */
    padding: 5px;
    border-radius: 5px;
    background-color: #F64C72;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Hover effect for buttons */
.button-container input[type="submit"]:hover, 
.button-container input[type="reset"]:hover {
    background-color: #D43B5F;
}
